<h1>General Assembly Gas - password reset</h1>

<p>You forgot your password? If you can't remember a password you're really going to struggle with this course. How hard is it to remember a goddamn password?</p>

<p> <%= edit_password_reset_url(@user.password_reset_token) %></p>

<p></p>
