@import "bootstrap-sprockets";
@import "bootstrap";


@import "font-awesome-sprockets";
@import "font-awesome";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-select
 *= require bootstrap-wysihtml5
 *= require highlight_js/github
 */



.backgroundContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  display: block;
  background-image: image-url('background-default.jpg');
  -webkit-filter: grayscale(70%) opacity(30%); 
  -moz-filter: grayscale(70%) opacity(30%); 
  -o-filter: grayscale(70%) opacity(30%); 
  -ms-filter: grayscale(70%) opacity(30%);  
  -webkit-filter:  grayscale(70%) opacity(30%); 
  filter: grayscale(70%) opacity(30%); 
}

.contentContainer {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 0;
  padding-bottom: 30px;
}
/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822;
  -webkit-text-size-adjust: none;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-keyword,
.hljs-literal,
.hljs-strong,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special {
  color: #f92672;
}

.hljs {
  color: #ddd;
}

.hljs .hljs-constant,
.asciidoc .hljs-code,
.markdown .hljs-code {
  color: #66d9ef;
}

.hljs-code,
.hljs-class .hljs-title,
.hljs-header {
  color: white;
}

.hljs-link_label,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-value,
.hljs-regexp {
  color: #bf79db;
}

.hljs-link_url,
.hljs-tag .hljs-value,
.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-emphasis,
.hljs-type,
.hljs-preprocessor,
.hljs-pragma,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-name {
  color: #a6e22e;
}

.hljs-comment,
.hljs-annotation,
.smartquote,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.hljs-keyword,
.hljs-literal,
.css .hljs-id,
.hljs-doctag,
.hljs-title,
.hljs-header,
.hljs-type,
.vbscript .hljs-built_in,
.rsl .hljs-built_in,
.smalltalk .hljs-class,
.diff .hljs-header,
.hljs-chunk,
.hljs-winutils,
.bash .hljs-variable,
.apache .hljs-tag,
.tex .hljs-special,
.hljs-request,
.hljs-status {
  font-weight: bold;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

.thumbnailImage {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: center center;
  background-size: cover;
  border: 1px black solid;
}

.largeImage {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-position: center center;
  background-size: cover;
  border: 1px black solid;
}
.miniAvatarImage {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: cover;
  border: 1px black solid;
}

nav .miniAvatarImage {
  border: 1px grey solid;
}

.flexBox {
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.imageLinksGroup {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  vertical-align: center;
}

.centerText {
  text-align: center;
}

.contentContainer {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 960px;
}

nav {
  z-index: 100;
  padding: 0px 12px 0px 12px;
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8) ;
  border-bottom: 1px black solid;
  -moz-box-shadow: 1px 2px 5px 1px black;
  -webkit-box-shadow: 1px 2px 5px 1px black;
  box-shadow: 1px 2px 5px 1px black;

}

.navLeft {
  margin: 0 auto;
  display: inline-block;
  vertical-align: left;
  position: fixed;
}

.navRight {
  position: fixed;
  margin-right: 20px;
  right: 0px;
  display: inline-block;
  vertical-align: right;
}

hr {
  border-color: lightgrey;
}

.brand {
  font-size: 30px;
  font-weight: 700;
  vertical-align: middle;
  line-height: 60px;
}

.brand span {
   line-height: 90px;
}

.social {
  display: inline-block;
}

.fuck {
  text-align: center;
  right: -250px;
  top: -2px;
}

 .balls {
  right: 150px;
 }

.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  right: -250px;
  top: -33.9px;
}

.navRight {
  list-style-type: none;
  margin-top: 12px;
}

a {
  color: #4d4d4d;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

.searchBox {
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

}

h3 {
  margin-top: 10px;
}

.quoteBox {
  z-index: 1000;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position:absolute;
  top: 260px;
  left: 50%;
  padding: 30px;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.89);
  -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.89);
  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.89); 
}

.showQuotes {
  cursor: pointer;
}

.tagline {
  color: #494949;
}

.searchBox {
  position: fixed;
  right: 10px;
  top: 15px;
}

.right {
  text-align: right;
  position: fixed;
  top: 10px;
  right: 15px;
}

.closeMe {
  cursor: pointer;
}

.wysihtml5-toolbar {
  list-style-type: none;
  margin: 0px;
}

.wysihtml5-toolbar li{
  display: inline; 
}

.post {
  width: 70%;
}

.commentAvatar {
  width: 100px;
  height: 100px;
}

.comments {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.github {
  display: inline-block;
  width: 350px;
  border: 1px black solid;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
}

.slack {
  display: inline-block;
  width: 350px;
  height: 100%;
  border: 1px black solid;
}
.brand {
  color: whitesmoke;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
}