<!DOCTYPE html>
<html>
<head>
  <title>Gas</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="backgroundContainer"></div>
  <div class="contentContainer">

<%= yield %>

  </div>



</body>
</html>
